<div class="main-container">
  <div class="nav-bar">
    <mat-toolbar>
      <button mat-icon-button class="example-icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button routerLink="/" mat-icon-button class="example-icon favorite-icon">
        <mat-icon>directions_car</mat-icon>
      </button>
      <span class="app-label">Joyous Car</span>
        <a class="link" routerLink="/dashboard">Dashboard</a>
    </mat-toolbar>
  </div>
  <router-outlet></router-outlet>
  <footer>This app was created with AngularJS and Angular Material</footer>
</div>