<mat-table [dataSource]="dataSource" class="mat-elevation-z8" [style.margin-top]="'15px'">git add .
  <ng-container matColumnDef="country">
    <mat-header-cell [style.font-weight]="600" *matHeaderCellDef> Country </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
  </ng-container>
  <ng-container matColumnDef="count">
    <mat-header-cell [style.font-weight]="600" *matHeaderCellDef> Count </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.count}} </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>